```
$ dotnet test

Restore complete (0.6s)
  CustomerCommLib succeeded (0.2s) → /.../cognizant-dotnet-fse/week2/Moq-handson/CustomerCommLib/bin/Debug/net9.0/CustomerCommLib.dll
  CustomerComm.Tests succeeded (0.2s) → bin/Debug/net9.0/CustomerComm.Tests.dll
NUnit Adapter 4.6.0.0: Test execution started
Running all tests in /.../cognizant-dotnet-fse/week2/Moq-handson/CustomerComm.Tests/bin/Debug/net9.0/CustomerComm.Tests.dll
   NUnit3TestExecutor discovered 1 of 1 NUnit test cases using Current Discovery mode, Non-Explicit run
NUnit Adapter 4.6.0.0: Test execution complete
  CustomerComm.Tests test succeeded (1.0s)

Test summary: total: 1, failed: 0, succeeded: 1, skipped: 0, duration: 0.9s
Build succeeded in 2.3s
```