```
$ dotnet test

Restore complete (0.5s)
  NUnit-handson succeeded (0.4s) → bin/Debug/net9.0/NUnit-handson.dll
NUnit Adapter 4.6.0.0: Test execution started
Running all tests in /.../cognizant-dotnet-fse/week2/NUnit-handson/bin/Debug/net9.0/NUnit-handson.dll
   NUnit3TestExecutor discovered 10 of 10 NUnit test cases using Current Discovery mode, Non-Explicit run
NUnit Adapter 4.6.0.0: Test execution complete
  NUnit-handson test succeeded (0.9s)

Test summary: total: 10, failed: 0, succeeded: 10, skipped: 0, duration: 0.9s
Build succeeded in 2.2s
```